PUERTO=4444
IP=127.0.0.1
LOG_FILE=broker.log
EXTENSE_LOG_FILE=extenseBroker.log
TAMANO_MEMORIA=64
TAMANO_MINIMO_PARTICION=4
ALGORITMO_PARTICION_LIBRE=FF
ALGORITMO_REEMPLAZO=FIFO
FRECUENCIA_COMPACTACION=10

LIMITE_COLA_NEW=20
LIMITE_COLA_APPEARED=20
LIMITE_COLA_CATCH=20
LIMITE_COLA_CAUGHT=20
LIMITE_COLA_GET=20
LIMITE_COLA_LOCALIZED=20
